extends ../layouts/main-layout.pug

block content
    main
        if products.length > 0
            ul
                each product in products
                    li 
                        p #{product.productId.title} (#{product.quantity})
                        form(action="/cart-delete-item", method="POST")
                            input(type="hidden", name="productId", value=product.productId._id)
                            button(class="btn" type="submit") Delete
            hr
            .centered
                form(action="/create-order", method="POST")
                    button(type="submit", class="btn") Order Now!
        else
            h1 No Products in Cart!